PORT=5000
SCRAPER_API_URL=https://chama-movie-api.koyeb.app
API_KEY=chama_api_c82b12fffda71170b553f662d39426ec
FIREBASE_DATABASE_URL=https://prime-bot-official-default-rtdb.firebaseio.com
FIREBASE_SERVICE_ACCOUNT={"type":"service_account",...}
